.card{
    height: 40vh;
    width: 40vh;
    /* border: 1px solid rgb(86, 255, 86); */
    border-radius: 10px;
    background-color: rgb(19, 19, 19);
    color: white;
    margin-bottom:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* /* .card:hover{
    /* box-shadow: 0 0 15px lightgreen; */
    /* transform: scale(1.05);
    transition: 150ms;
} */
.card:hover .card__image>img{
    box-shadow: 0 0 18px rgb(74, 238, 74);
    transform: scale(1.09);
    transition: 400ms;
}
/* .card:hover{
    border: 1px solid rgb(144, 253, 77);
} */
.card__image{
    align-items: center;
    justify-content: center;

}
.card__image>img{
    height: 160px;
    width: 280px;
    border-radius: 5px;
}
/* .card__image>img:hover{
    transform: scale(1.09);
    transition: 400ms;
} */
.card__link{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}
.card__link>h4{
    padding: 5px;
}

.cont__button>button{
    height: 4vh;
    width: 12vh;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
    /* padding: ; */
}

.cont__button>button {
    color: white;
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(95, 255, 90));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
.cont__button>button:hover {
    box-shadow: 0px 0px 7px lightgreen;
    
}
